@keyframes ldio-w6opngcvgmn-o {
    0% {
        opacity: 1;
        transform: translate(0 0)
    }
    49.99% {
        opacity: 1;
        transform: translate(44px, 0)
    }
    50% {
        opacity: 0;
        transform: translate(44px, 0)
    }
    100% {
        opacity: 0;
        transform: translate(0, 0)
    }
}

@keyframes ldio-w6opngcvgmn {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(44px, 0)
    }
    100% {
        transform: translate(0, 0)
    }
}

.ldio-w6opngcvgmn div {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: 28px;
    left: 6px;
}

.ldio-w6opngcvgmn div:nth-child(1) {
    background: #6c6969;
    animation: ldio-w6opngcvgmn 1s linear infinite;
    animation-delay: -0.5s;
}

.ldio-w6opngcvgmn div:nth-child(2) {
    background: #2bde73;
    animation: ldio-w6opngcvgmn 1s linear infinite;
    animation-delay: 0s;
}

.ldio-w6opngcvgmn div:nth-child(3) {
    background: #6c6969;
    animation: ldio-w6opngcvgmn-o 1s linear infinite;
    animation-delay: -0.5s;
}

.loadingio-spinner-dual-ball-uejgo3a4ood {
    width: 48px;
    height: 48px;
    display: inline-block;
    overflow: hidden;
    background: none;
    margin: auto;
}

.ldio-w6opngcvgmn {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.48);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-w6opngcvgmn div {
    box-sizing: content-box;
}