.item-details {
    background-color: var(--gray-dark);
    border-radius: 0.5rem;
    padding: 10px;
    align-items: flex-start;
}

.item-details__img-container {
    width: 33%;
}

.item-details__img {
    border-radius: 0.5rem;
    width: 100%;
}



.item-details__info-list {
    border: none;
}

